<!DOCTYPE html>
<html>
<head>
<title>About us</title>
</head>
<body style="background-color:rgb(151, 210, 133);">

    <header style="background-color: rgb(177, 229, 81); font-size: x-large; padding: 1%; border-radius: 10px;">
        <a href="/" style="margin-right:10%; margin-left:10% ;">Home</a>
        <a href="/about">About</a>
        <a href="/login" style="float: right; margin-right:10% ;" >Login</a>
    </header>


    <h1 style="text-align: center; margin-top: 5%; font-size:xx-large;">About</h1>
    <div style="background-color: rgb(177, 229, 81); margin: 15%; margin-bottom: 0%; margin-top: 0%; padding: 5%; border-radius: 25px; min-height: 200px;">
        <h1 style="text-align: center;">Our team</h1>
        <div>
            <img style="float: left; width: 20%; margin-right: 5%;" src="{{ url_for('static', filename='images/sven-svenson.png')}}" alt="sten">
            <br>
            <h2>Sven Svenson</h2>
            <p>
                Sven Svenson is the main creator of this website, 
                he created it for the purpose of world peace but had to settle for a chicken sandwich.
                <br>
                Sven is a multi millionaire 
                <br>
                <br>
                Sven Svenson- "I am the kind of guy who dumps huge amounts of money on a failed project. 
                I am the kind of guy who knows how to program anything yet still employ employees to do it for me.
                I am the kind of guy who uses his real name as his username and uses the same password for every one of my acounts."
                <br>
                <br>
            </p>
        </div>
        <div>
            <img style="float: left; width: 20%; margin-right: 5%;" src="{{ url_for('static', filename='images/kalle-kula.png')}}" alt="sten">
            <br>
            <h2>Kalle Kula</h2>
            <p>
                Kalle Kula is the person responsible for the websites cyber security.
                <br>
                Over the last 2 years he has worked for over 10 different companies! 
                He acquired his extensive knowlege exclusivly from youtube tutorials. 
                <br>
                <br>
                Kalle Kula- "I love cyber security! My favourite encryption is XOR ciphers 
                and I beleive that XOR encryption is the only precaution necessary to protect sensitive data since it is so secure!"
                <br>
                <br>
            </p>
        </div>
        <div>
            <img style="float: left; width: 20%; margin-right: 5%;" src="{{ url_for('static', filename='images/sten.png')}}" alt="sten">
            <br>
            <h2>Sten</h2>
            <p>
                Sten is essentially anything the team needs him to be, he is responsible for all of our design desisions, 
                our emotional health (help) and for collecting our money. (HELP!)
                <br>
                He has more than 10 Harvard master degrees and 200+ years of work experience wich makes him our ideal employee.
                <br>
                <br>
                Sten- " <span style="font-style: italic;">*cricket noises</span> "
                <br>
                <br>
            </p>
        </div>
    </div>


</body>
</html> 