<!DOCTYPE html>
<html>
<head>
<title>TWatEotU</title>
</head>
<body style="background-color:rgb(151, 210, 133);">

    <header style="background-color: rgb(177, 229, 81); font-size: x-large; padding: 1%; border-radius: 10px;">
        <a href="/" style="margin-right:10%; margin-left:10% ;">Home</a>
        <a href="/about">About</a>
        <a href="/login" style="float: right; margin-right:10% ;" >Login</a>
    </header>


    <h1 style="text-align: center; margin-top: 5%; font-size:xx-large;">Home</h1>
    <div style="background-color: rgb(177, 229, 81); margin: 15%; margin-bottom: 0%; margin-top: 0%; padding: 5%; text-align: center; border-radius: 25px; min-height: 200px;">
        
        <h2>The Website at the End of the Universe</h2>
        <img src="" alt="">
        <div style="text-align: left;">

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Integer lectus nunc, venenatis ut sem et, dignissim ornare sapien. 
            Aliquam vestibulum fermentum diam in sollicitudin. 
            Aliquam vel nunc dapibus, faucibus tellus eget, fermentum risus. 
            Aenean molestie faucibus turpis in molestie. Proin et pharetra lacus, quis dapibus ligula. 
            Nullam dictum vitae neque a tincidunt. Curabitur eu elementum arcu. 
            Nam at libero eu sem bibendum faucibus a quis tellus. Suspendisse vulputate tempus pharetra.
            <br>
            <br>
            Morbi turpis metus, aliquam sed arcu tempor, posuere gravida odio. 
            Ut eu felis molestie, suscipit mi sit amet, tempus ligula. 
            Pellentesque porttitor nisl id viverra facilisis. Aliquam feugiat arcu leo. 
            Sed commodo turpis eget erat gravida, vitae blandit odio vulputate. Fusce sit amet placerat tellus. 
            Aenean ullamcorper eros id euismod dignissim. 
            Aliquam erat volutpat. Pellentesque convallis quam sed tincidunt dignissim.
            <br>
            <br>
            Maecenas tincidunt magna nunc, eget porta dolor viverra sit amet. 
            Fusce dolor neque, luctus vel metus nec, ornare dictum dui. 
            Nunc faucibus, tortor sit amet tincidunt ultrices, tortor orci bibendum orci, eget ullamcorper neque nisi sed felis. 
            Praesent a sem ut nulla consectetur tempus in non leo. Integer in velit nec purus tempus cursus non non risus. 
            Maecenas facilisis lectus sit amet tellus tempor, at interdum leo viverra. Pellentesque id ex ut neque commodo ornare. 
            Nulla facilisi.
        </div>
        <div></div>
    </div>


</body>
</html> 